.button {
    background-color: var(--green);
    color: var(--white);

    padding: 10px 10px;
    border-radius: 100px;

    border: none;
    cursor: pointer;
}
.button:disabled {
    background-color: var(--gray-dots);
    cursor: not-allowed
}

/* Tablet styles */
@media (min-width: 768px) {
    .button {
        font-size: 20px;
    }
}


/* Desktop styles */
@media (min-width: 1280px) {
    .button {
        font-size: 26px;
    }
}


.back-to-top {
    color: var(--white);
    background-color: #7a7a7a4f;
    border: none;
    font-size: 16px;

    position: fixed;
    right: 30px;
    bottom: 30px;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

    border-radius: 50px;

}

.back-to-top__label {
    display: none;
}

.back-to-top__icon {
    width: 20px;
    height: 20px;
}

.back-to-top svg {
    height: 100%;
}

@media (min-width: 768px) {
    .back-to-top {
        border-radius: 10px;
     }

    .back-to-top__label {
        display: block;
    }
}