.button {
    background-color: var(--green);
    color: var(--white);

    padding: 10px 10px;
    border-radius: 100px;

    border: none;
    cursor: pointer;
}

/* Tablet styles */
@media (min-width: 768px) {
    .button {
        font-size: 20px;
    }
}


/* Desktop styles */
@media (min-width: 1024px) {
    .button {
        font-size: 26px;
    }
}