/* Footer styles */
.footer {
    background-color: var(--dark-alt);
    color: var(--white);

    margin-top: auto;
  }
  .footer_section {
    border-top: solid 2px #fff;
    padding: 60px 20px;
  }
  
  /* Tablet styles */
  @media (min-width: 768px) {
    .footer {
    }
  }
  
  /* Desktop styles */
  @media (min-width: 1280px) {
    /* Desktop: var(--breakpoint-desktop) */
    .footer {
      padding: 32px 0;
    }
  }