.header {
  background-color: var(--white);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;

}

/* LOGO */
.header__logo {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.12em;
  color: var(--dark);
}

.header__logo-img {
  max-height: 24px;
  width: auto;
  display: block;
}

/* Tablet styles */
@media (min-width: 768px) {
  .header__logo-img {
    max-height: 40px;
  }
}

/* Desktop styles */
@media (min-width: 1280px) {
  .header__logo-img {
    max-height: 40px;
  }
}

/* MENU (text + burger) */
.header__menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__menu-text {
  font-size: 14px;
  color: var(--gray-alt);
}

/* BURGER */
.header__burger {
  width: 24px;
  height: 18px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: none;
  border: none;
  padding: 0;
}

.header__burger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--dark);
  border-radius: 1px;
}


/* details reset */
.nav {
  position: relative;
}

.nav summary {
  list-style: none;
}

.nav summary::-webkit-details-marker {
  display: none;
}

/* burger */
.burger {
  width: 28px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #111;
  transition: 0.3s;
}

.burger span:nth-child(1) {
  top: 0;
}

.burger span:nth-child(2) {
  top: 9px;
}

.burger span:nth-child(3) {
  bottom: 0;
}

/* burger active */
.nav[open] .burger span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}

.nav[open] .burger span:nth-child(2) {
  opacity: 0;
}

.nav[open] .burger span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 9px;
}

/* Menu */
.menu {
  overflow: hidden;
  transition: max-height 0.3s ease;

  background: #fff;
  padding: 0 16px;

  position: absolute;

  top: 40px;
  right: -16px;
  z-index: 111;

}

.menu a {
  display: block;
  padding: 12px 0;
  color: #111;
  text-decoration: none;
}

/* Menu open */
.menu-toggle:checked~.menu {
  max-height: 300px;
}

/* Tablet styles */
@media (min-width: 768px) {

  /* Tablet: var(--breakpoint-tablet) */
  .header__container {
    padding: 26px 32px;
  }


  .header__menu-text {
    font-size: 16px;
  }

  /* .header__burger {
    display: none;
  } */

  .menu {
    top: 60px;
    right: -32px;
  }
}

/* Desktop styles */
@media (min-width: 1280px) {

  /* Desktop: var(--breakpoint-desktop) */
  .header__container {
    padding: 34px 120px;
  }

  .header__logo {
    font-size: 22px;
  }

  .header__menu {
    flex-direction: row-reverse;
  }

  .header__burger {
    display: none;
  }

  .menu {
    position: static;
    display: flex;
    gap: 30px;
    font-size: 16px;
  }

}