.header {
  background-color: var(--white);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;
  height: 56px;
}

/* LOGO */
.header__logo {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.12em;
  color: var(--dark);
}

/* MENU (text + burger) */
.header__menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__menu-text {
  font-size: 14px;
  color: var(--gray-alt);
}

/* BURGER */
.header__burger {
  width: 24px;
  height: 18px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: none;
  border: none;
  padding: 0;
}

.header__burger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--dark);
 border-radius: 1px;
}
