.hero {
  position: relative;
  width: 100%;
  height: 430px;
  overflow: hidden;
}

/* IMAGE */
.hero__media {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/images/hero.jpg);
  background-size: 257%;
  background-position: 19% 36%;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25%;
}

/* DARK OVERLAY */
.hero__media::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--black-transparent);
}

/* OVERLAY LAYOUT */
.hero__overlay {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  gap: 20px;

  padding: 0 16px;
  padding-top: 100px;
}

/* LEFT DECORATIVE BLOCK */
.hero__side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* VERTICAL LINE */
.hero__line {
  width: 1px;
  background-color: var(--white-transparent);
  align-self: stretch;
}

/* TAGLINE */
.hero__tagline {
  max-width: 80px;
  font-size: 12px;
  line-height: 1.3;
  color: #50E2DE;
}

/* MAIN CONTENT */
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* TITLE */
.hero__title {
  margin: 0;
  color: var(--white);

  font-size: 28px;
  font-weight: 600;
  line-height: 1.25;
}

.hero__body {
  display: flex;
  justify-content: space-between;
}

/* BUTTON */
.hero__button {
  width: fit-content;

  padding: 14px 20px;
  border-radius: 16px;

  background-color: var(--green);
  color: var(--white);

  font-size: 14px;
  font-weight: bold;
}

/* Tablet styles */
@media (min-width: 768px) {

  /* Tablet: var(--breakpoint-tablet) */
  .hero {
    height: 500px;
  }

  .hero__overlay {
    padding: 0 32px;
    padding-top: 120px;
    gap: 30px;
  }

  .hero__side {
    gap: 16px;
  }

  .hero__line {
    height: 90px;
  }

  .hero__tagline {
    max-width: 100px;
    font-size: 14px;
  }

  .hero__title {
    font-size: 36px;
  }

  .hero__button {
    padding: 16px 24px;
    font-size: 16px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {

  /* Desktop: var(--breakpoint-desktop) */
  .hero {
    height: 600px;
  }

  .hero__overlay {
    padding: 0 64px;
    padding-top: 150px;
    gap: 40px;
    align-items: center;
  }

  .hero__content {
    gap: 30px;
  }

  .hero__title {
    font-size: 42px;
  }

  .hero__button {
    padding: 18px 32px;
  }
}