.impressions {
  /* background-color: #ffffff; */
  background-color: var(--gray-light);
}

.impressions__container {
  padding: 40px 16px;
}

.impressions__intro {
  margin: 0 0 32px;

  font-size: 16px;
  line-height: 1.6;

  color: #000000;
}

.impressions__list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.impressions__item {
  position: relative;
}

@media (min-width: 768px) {
  .impressions__list {
    flex-direction: row;
  }

  .impressions__item {
    width: calc(50% - 22px);
    /* height: 100%; */
  }
}


/* Desktop styles */
@media (min-width: 1024px) {

  .impressions {
    font-size: 16px;
  }

  .impressions__intro {
    width: 60%;
  }

}