.learn {
  background-color: var(--gray-light);
}

.learn__container {
  padding: 32px 16px;
}

/* TITLE */
.learn__title {
  margin: 0 0 20px;
  font-size: 22px;
  font-weight: 600;
  color: var(--dark);
}

/* LIST */
.learn__list {

}

.learn__item {
  
}

.learn__item::marker {
}

/* IMAGES GRID */
.learn__images {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  margin-bottom: 24px; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;

  max-width: 1200px;
  margin: 0 auto 20px;
}

.learn__images-item {
  overflow: hidden;
  border-radius: 10px;
}

.learn__images-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* индивидуальные размеры */
.learn__images-item-a {
  grid-column: span 2;
}

.learn__images-item-b {
  grid-column: span 2;
}

.learn__images-item-c {
  grid-column: span 1;
}

.learn__images-item-d {
  grid-column: span 3;
}

/* BUTTON */
.learn__button-conainer {
  display: grid;
  align-items: center;
  justify-content: center;
}

.learn__button {
  width: 240px;

  font-size: 18px;
  font-weight: 600;
}

/* Tablet styles */
@media (min-width: 768px) {

  /* Tablet: var(--breakpoint-tablet) */
  .learn__container {
    padding: 40px 32px;
  }

  .learn__title {
    font-size: 26px;
  }

  .learn__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .learn__item {
    width: calc(50% - 8px);
    font-size: 15px;
  }

  .learn__images {
    gap: 16px;
  }

  .learn__images img {
    height: 140px;
  }

  .learn__button {
    padding: 16px 24px;
    font-size: 15px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {

  /* Desktop: var(--breakpoint-desktop) */
  .learn__container {
    padding: 48px 48px;
  }

  .learn__title {
    font-size: 28px;
  }

  .learn__list {
    gap: 20px;
  }

  .learn__item {
    width: calc(25% - 15px);
    font-size: 16px;
  }

  .learn__images {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .learn__images img {
    height: 160px;
  }

  .learn__button {
    padding: 18px 32px;
    font-size: 16px;
  }
}