.quote-card {
  padding: 20px 20px 24px;

  background-color: #ffffff;

  border: 1px solid #e6e8f0;
  border-radius: 16px;
  height: 100%;
}

/* MAIN QUOTE */
.quote-card__quote {
  margin: 0 0 16px;
  font-weight: 600;
}

/* AUTHOR / STORY */
.quote-card__author {
  margin: 0;
}