/* Section styles */
.content_section {
    padding: 26px 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.content_section__title {
    margin: 0 0 24px;
    font-size: 22px;
    font-weight: 700;
    color: var(--dark);
}

/* Mobile max */
@media (min-width: 425px) {

    /* .content_section {
        padding: 46px 20px;
        max-width: 1200px;
        margin: 0 auto;
    } */

    .content_section__title {
        font-size: 30px;
    }
}