.steps {
  
}


.steps_gred-element {
  flex: 1 1 0px;
}

/* TITLE */
.steps__title {}

/* LIST */
.steps__list {

  --steps__list-gap: 16px;

  list-style: none;
  margin: 0 0 50px;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: var(--steps__list-gap);
}

/* ITEM */
.steps__item {
  position: relative;

  /* padding: 20px 16px 20px 52px;
  border: 1px solid var(--gray-medium);
  border-radius: 14px;
  background-color: var(--white); */

  list-style: none;
}

/* NUMBER */
.steps__number {
  position: absolute;
  top: 20px;
  left: 16px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--green);
  color: var(--white);

  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
}

/* ITEM TITLE */
.steps__item-title {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
}

/* TEXT */
.steps__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.45;
  color: var(--gray-text);
}

/* Mobile max */
@media (min-width: 425px) {}

/* Tablet styles */
@media (min-width: 768px) {


  /* .steps__title {
    font-size: 26px;
  } */

  .steps__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .steps__item {
    flex: 1 1 calc(calc(100% / 2) - calc(var(--steps__list-gap) / 2));
  }

  .steps__number {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }

  .steps__item-title {
    font-size: 18px;
  }

  .steps__text {
    font-size: 15px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {

  /* .steps__title {
    font-size: 28px;
  } */

  .steps__gred {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
  }

  .steps__number {
    width: 36px;
    height: 36px;
    font-size: 18px;
  }

  .steps__item-title {
    font-size: 18px;
  }

  .steps__text {
    font-size: 16px;
  }
}