div.tns-outer {
    position: relative;
    padding-bottom: 20px !important;
}

.tns-controls {
    z-index: 1;
    position: absolute;
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translate(0, -50%);
}

.tns-controls button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    gap: 6px;
    background-color: transparent;
}

.tns-controls button:first-child {
    transform: translate(-15px, 0);
}

.tns-controls button:first-child::after {
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #32557f;
    border-left: 0;
    border-top: 0;
    transform: rotate(135deg);
}

.tns-controls button:last-child {
    transform: translate(15px, 0);
}

.tns-controls button:last-child::after {
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #32557f;
    border-left: 0;
    border-top: 0;
    transform: rotate(320deg);
}

.tns-nav {
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20px;
    align-items: center;
    gap: 6px
}

.tns-nav button {
    padding: 3px;
    background-color: var(--dark);
}

.tns-nav button.tns-nav-active {
    background-color: var(--green);
}