.video {}

.video__container {
    padding: 32px 16px;
}

.video-preview {
    overflow: hidden;
    border-radius: 20px;
    display: flex;
}

/* VIDEO */
.video-preview__video {
    display: block;
}

.youtube {
    width: 100%;
    height: 350px;
}

/* Tablet styles */
@media (min-width: 768px) {
    .youtube {
        height: 420px;
    }
}

/* Desktop styles */
@media (min-width: 1280px) { 
    .youtube {
        height: 100%;
    }
}