.accordion__item--teacher .accordion__answer {
    display: flex;
    gap: 30px;
}

.accordion__answer--teacher {
    display: flex;
    flex-direction: column;
}

.accordion__answer-teacher-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordion__answer-teacher-photo {
    width: 220px;
    height: 220px;
    background: url(/src/assets/images/webp/photo.webp);
    background-size: 341%;
    background-position: 43% 25%;
    border-radius: 150px;
}

.accordion__answer-teacher-info {
    text-align: center;
    line-height: 1;
}

.accordion__answer-teacher-info-founder {
    font-size: 10px;
}

@media (min-width: 768px) {
    .accordion__answer--teacher {
        display: flex;
        flex-direction: row;
    }




}