* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font);
  color: var(--dark);
}

button {
  border: none;
  border-radius: var(--radius);
  padding: 14px;
  background: var(--green);
  color: #fff;
}
